@font-face {
  font-family: "DM Sans";
  src: url(../fonts/dm_sans_regular.woff2) format("woff2");
  font-weight: 400;
  font-size: normal;
  font-display: swap;
}

@font-face {
  font-family: "DM Sans";
  src: url(../fonts/dm_sans_medium.woff2) format("woff2");
  font-weight: 500;
  font-size: normal;
  font-display: swap;
}

@font-face {
  font-family: "DM Sans";
  src: url(../fonts/dm_sans_bold.woff2) format("woff2");
  font-weight: 700;
  font-size: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/montserrat_bold.woff2) format("woff2");
  font-weight: 700;
  font-size: normal;
  font-display: swap;
}

:root {
  --primary-color: #305f64;
  --light-color: #fff;
  --dark-color: #000;
  --font-family: "DM Sans", "sans-serif";
  --second-family: "Montserrat", "sans-serif"
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: var(--font-family);
}

img {
  max-width: 100%;
  object-fit: cover;
  height: auto;
}

h2,
h3,
p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}