.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: clamp(1.375rem, 1.1964rem + 0.8929vw, 2rem);
  line-height: 130%;
  color: var(--primary-color);
}

.text {
  font-weight: 400;
  font-size: 20px;
  line-height: 135%;
  color: #383738;
}

.button {
  padding: 15px 30px;
  background-color: var(--primary-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: #fff;

}