@import url(./common.blocks/header.css);
@import url(./common.blocks/hero.css);
@import url(./common.blocks/footer.css);
@import url(./common.blocks/company.css);
@import url(./common.blocks/aboute.css);
@import url(./common.blocks/furniture.css);
@import url(./common.blocks/popular.css);
@import url(./common.blocks/furnitur.css);
@import url(./common.blocks/customer.css);
@import url(./common.blocks/subscribe.css);