.about {
    padding: 50px 70px;
}

.about__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}


.about__img-box {}

.about__img {
    box-shadow: 30px 30px 0 #dee4e2, 0 30px #dee4e2;
}

.about__content {
    max-width: 435px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    color: var(--primary-color);

}

.aboute__title {
    grid-area: title;
    font-size: 32px;
    /* color: var(--primary-color); */
}

.title {}

.aboute__text {
    grid-area: text;
    font-size: 20px;
}

.text {
    font-size: 18px;
}

.aboute__list {
    display: grid;
    gap: 30px;
}

.list-reset {}

.about__item {
    display: grid;
    grid-template-areas:
        "icon title"
        "icon text";
    justify-content: start;
    column-gap: 30px;
    row-gap: 14px;
    max-width: 375px;
    font-size: 20px;
}

.aboute__icon {
    grid-area: icon;
    width: 50px;
    height: 45px;
    cursor: pointer;
}



.aboute__item {}

.item {}

.abote__text {}

@media (min-width: 992px) {
    .about__container {
        flex-direction: row;

    }
}