.customers {
    padding: 70px 0;
}

.customers__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 30px;
}

.customers__img-box {
    position: relative;
    max-width: 560px;
    width: 100%;
    padding-left: clamp(3.125rem, 2.2321rem + 4.4643vw, 6.25rem);
}

.customers__img-box::before {
    content: "";
    position: absolute;
    inset: 0;
    bottom: 50px;
    width: 100%;
    height: 95%;
    border-radius: 50%;
    background-color: var(--primary-color);
    z-index: -1;
}

.customers__img {
    width: 100%;
    height: 100%;
    min-height: 300px;
}

.customers__content {
    display: grid;
    gap: 30px;
    max-width: 535px;

}

.customers__title {
    max-width: 500px;
}

.customers__text {}


.customers__user {
    display: grid;
    grid-template-areas:
        "img name name"
        "img icon rating";
    justify-content: start;
    gap: 10px;
}

.customers__user-img {
    grid-area: img;
}

.customers__user-name {
    grid-area: name;
}

.customers__user-icon {
    grid-area: icon;
    width: 16px;
    height: 16px;
}

.customers__user-rating {
    grid-area: rating;
    color: gold;
}

@media (min-width: 768px) {
    .customers__container {
        flex-direction: row;
    }
}