.hero {}

.hero__container {
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.hero__img-box {
    width: 100%;
}

.hero__img {
    width: 100%;
    height: 400%;
}

.hero__content {
    display: grid;
    gap: 30px;
    padding: 20px;
    flex-grow: 1;

    color: white;
    background-color: #305f64;
}

.hero__title {
    max-width: 600px;
    font-family: var(--second-family);
    font-weight: 700;
    font-size: clamp(1.875rem, 1.4107rem + 2.3214vw, 3.5rem);

}

.hero__tex {
    max-width: 450px;
}

.hero__button {
    justify-self: start;
    background-color: white;
    color: #305f64;
    font-size: 20px;
}

@media (min-width: 768px) {
    .hero__container {
        flex-direction: row;
    }

    .hero__content {
        padding: 100px 10px 140px 100px;
    }

    .hero__img-box {
        width: 410px;

    }

    .hero__img {
        height: 100%;
    }
}