.popular {
    padding-top: 70px;
}

.popular__container {}

.container {}

.popular__title {
    margin-bottom: 20px;
}

.title {}

.popular__text {
    max-width: 800px;
    margin-bottom: 80px;
}

.text {}

.swiper {}

.popular__swiper {}

.swiper-wrapper {}

.swiper-slide {
    box-shadow: 0 13px 26px 0 rgba(0, 0, 0, 0.07);

}

.popular__slide-img-box {
    margin-bottom: 30px;
}

.popular__slide-img {
    width: 100%;
    height: 100%;
}

.popular__slide-top-box {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 20px;
    padding: 0 25px;
}

.popular__slide-title {
    flex-grow: 1;
}

.popular__slide-btn svg {
    width: 26px;
    height: 26px;
    color: #ecf4ff;
}

.popular__slide-btn_active svg {
    color: salmon;
}



.popular__slide-btn {
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

.popular__slide-bottom-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px 30px 25px;
}

.popular__slide-bottom-box {}

.popular__slide-button {
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    padding: 15px 30px;
    background-color: var(--primary-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    color: #fff;
}

.popular__slide-price {
    font-weight: 500;
    font-size: 24px;
    color: var(--primary-color);
}

.swiper-button-prev {
    color: var(--primary-color);
}

.swiper-button-next svg {
    color: var(--primary-color);
}